@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #F3F3F3;
    letter-spacing: 1px;

}

#displaySection{
    display: flex;
    max-height: 36rem;
}


#cardSection{
    margin-top: 10px;
    flex: 2;
    height: 77vh;
    overflow: scroll;
    border-radius: 10px !important;
    /* border: 1px solid red; */
    padding: 0 !important;
    margin: 10px;
}

::-webkit-scrollbar{
    width: 0;
}

#cardSection div{
    cursor: pointer;
}


#page{
    flex: 5;
}