#filterBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
}


#order {
    display: flex;
    justify-content: space-between;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    background: #FFF;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#order div:nth-child(1) {
    border-radius: 10px;
    background: #6938EF;
    width: 122px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#searchBarSection {
    display: flex;
    width: 764px;
    height: 50px;
    flex-shrink: 0;
}


#searchBar {
    width: 694px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

#searchBar:focus{
    outline: 1px solid #6938EF;
    box-shadow: 0 0 3px 1px #6938EF;
}

#searchIcon {
    width: 70px;
    height: 44px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #6938EF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#filterCone{
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}