#navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #FFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#midNav{
    display: flex;
    justify-content: space-around;
    /* width: 50%; */
    color: #6938EF;
    font-size: 16px;
    font-weight: 600;
}

.midNavLink{
    display: flex;
    /* width: 200px; */
    align-items: center;
}

.midNavLink >p {
    padding-left: 10px;
    padding-right: 40px;
}

.modalPopup{
    /* width: 100px !important; */
    /* height: 140px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #6938EF;
    font-weight: bolder;
    
    /* top:100px */
    /* animation: 1s updown infinite; */
}


.checkOutIntern{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #6938EF;
    color: #FFF;
    border-radius: 14px;
    transition: all 1s;
}


#profilePage{
    /* display: flex; */
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: 400;
    background-color: #6938EF;
    color: #FFF;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(10px);
    /* height: 200px; */
}


#profileData{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* padding-left: 50px; */
    
    /* width: 50%; */
}

#profileImage{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: start;
    /* width: auto; */
}

#profileImage img{
    height: 150px;
    border-radius: 10%;
}

.actionsIntern{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#profileData a{
    all:unset;
    
}

.closeIntern{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #ffffff;
    color: #6938EF;
    border-radius: 14px;
    transition: all 1s;
}

.closeIntern:hover{
    background-color: #d3c3fe;

}

.checkOutIntern:hover{
    background-color: #d3c3fe;

}